<br>
<br>
<h1 style="text-align:center"> Welcome to the Customer Care Service</h1>
<br>
<br>
<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-md-2">Created by:</div>
                <div class="col-md-10"><a href="http://facebook,com" target="_blank">Ayush Jain</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Blog:</div>
                <div class="col-md-10"><a href="http://blog.codewithdan.com" target="_blank">https://blog.codewithashi.com</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">GitHub:</div>
                <div class="col-md-10"><a href="https://github.com/ayush1035" target="_blank">https://github.com/ayush1035</a></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">Training:</div>
                <div class="col-md-10"><a href="mailto:training@codewithdan.com" target="_blank">Interested in hands-on AngularJS Training? Contact us for details.</a></div>
            </div>
        </div>
    </div>
</div>